* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
    background-color: #E3E3E3;
}


.heading {
  width: 100%;
  font-family: 'Ubuntu Mono', monospace;


 h1 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color:#9f9f9f;

  @media screen and (max-width: 768px) {
   font-size: 0.75rem;
  }
 }

 h2 {
  font-size: 0.75rem;
  text-align: center;
  
  @media screen and (max-width: 768px) {
   font-size: 0.5rem;
  }
 }
}

footer {
 position: absolute;
 z-index: 1;
 bottom: 0.1rem;
 left: 0.1rem;
 font-size: 0.75rem;
 color: #9f9f9f;
 font-family: 'Ubuntu Mono', monospace; 

 a {
   color: inherit;
 }
}